body{
  font: 12px;
  background: url(/1b-arquivos-necessarios-criando-topo/img/fundo.png) repeat-x;
}
#container{
  width: 1080px;
  margin: 0 auto;
}
a:link, a:active, a:visited{
  color: rgb(191, 130, 16);
  text-decoration: none;
}
a:hover{
  color: green;
}

/* navbar
---------------------------- */
header{
  padding: 20px 0;
  height: 50px;
}
#logo h1{
  float: left;
}
#logo a{
  background: url(/1b-arquivos-necessarios-criando-topo/img/logo.png) no-repeat;
  display: block;
  text-indent: -3000px;
  width: 250px;
  height: 23px;
}
ul{
  float: right;
}
ul li{
  float: left;
  list-style: none;
}
ul li a:link{
  margin-left: 25px;
  
}

/* principal
------------------------------- */
#conteudo{
  float: left;
  width: 710px;
  margin-bottom: 20px;
}
aside{
  background: rgb(248, 240, 229);
  float: right;
  width: 350px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
h3{
  color: rgb(130, 82, 19);
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
section#visita{
  background: rgb(225, 198, 161);
  padding: 10px 27px 27px 27px;
  margin-top: 10px;
}
section#galeria a{
  display: block;
  background: url(/1b-arquivos-necessarios-criando-topo/img/fundo-foto.png) no-repeat;
  float: left;
  margin: 10px 0 0 20px;
  padding: 15px;
}
section#galeria{
  padding: 0 27px;
}
h4{
  text-transform: uppercase;
  color: green;
  font-size: 1.2em;
  margin-bottom: 15px;
}
article{
  width: 310px;
}
article#video{
  float: left;
  margin-left: 25px;
}
article#exposicoes{
  float: left;
  margin: 15px 0 0 37px;
}
article#mapa{
  float: right;
  margin-right: 25px;
}
article#historia{
  float: right;
  margin-right: 15px 0 0 37px;
}
/* formulario
-------------------------- */
fieldset{
  border: none;
}
legend{
  display: none;
}
input{
  background: white;
  border: none;
  font-size: 1.0em;
  width: 80px;
  height: 20px;
}
#visita .campo{
  border: 1px solid rgb(137, 92, 34);
}
#botao{
  background: rgb(168, 121, 60);
  height: 50px;
  color: white;
  width: 100%;
  font-size: 1.2em;
}

/* footer
------------------------ */
footer{
  background: url(/1b-arquivos-necessarios-criando-topo/img/fundo-rodape.png) no-repeat center top;
  padding: 10px;
  text-align: center;
}
footer>p a{
  padding: 2px 10px;
}